# Ignore node_modules folder in the root directory
/node_modules

# Ignore node_modules folder in the client directory
/client/node_modules

# Ignore node_modules folder in the server directory
/server/node_modules

.env

# Ignore .env file in the server directory
/server/.env